@charset "utf-8";
/* CSS Document */
.container{ 
	width:1020px;
	margin:0 auto;
	background-color: darkslateblue;
}
header{ 
	width:100%;
	text-align: center;
}
.flex-containter{
	display: flex;
	background-color: lightpink;
}





footer{ 
	width:100%;
	text-align: center;
}